.global-header {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.13);
  z-index: z(header-nav);
  position: fixed;
  width: 100%;

  @include respond-to(desktop) {
    box-shadow: none;
  }

  .nav-container {
    width: 100%;
  }

  .hitachi-solutions-logo {
    display: block;
    flex: 0 0 auto;
    width: 190px;
    height: 22px;
  }

  .utility-nav-container {
    display: none;
    width: 100%;
    border-top: 3px solid color(brand);
    background-color: rgba(226, 229, 231, 0.5);

    @include respond-to(desktop) {
      display: block;
    }

    .utility-nav {
      max-width: 1200px;
      height: 45px;
      margin: 0 auto;
      padding: 0 1rem;
      display: flex;
      justify-content: space-between;

      .utility-logo {
        display: flex;
        align-items: center;

        img {
          max-width: 90px;
          height: auto;
        }
      }

      ul {
        display: flex;
        justify-content: flex-end;

        .utility-nav-item {
          margin-left: 1rem;
          font-size: 0.75rem;
          line-height: 45px;

          a {
            color: $grey-700;
            font-weight: fw(light);

            &:hover {
              color: $blue-500;
            }
          }

          &.region-item {
            ul {
              li {
                line-height: 30px;
              }
            }
          }
        }
      }
    }

    .region-item {
      position: relative;

      .region-dropdown {
        position: absolute;
        top: 45px;
        right: 0;
        left: auto; //overwriting value of main menu
        width: auto;
        padding: 1rem;
        background-color: $white;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.13);
        z-index: z(overlay);
      }

      .region-dropdown-items {
        display: flex;
        flex-direction: column;
        white-space: nowrap;

        li a {
          display: block;
          color: $black;
          padding: 0.25rem 1rem;
          transition: background-color 0.3s ease-out;

          &:hover {
            background-color: $blue-100;
          }
        }
      }
    }
  }

  .primary-nav {
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .nav-items {
      display: none;

      @include respond-to(desktop) {
        display: flex;
        position: relative;
        flex: 1 0 auto;
        margin-left: 0.75rem;
      }
    }

    .contact-item {
      display: none;

      @include respond-to(desktop) {
        display: flex;
      }

      a {
        font-weight: fw(medium);
      }
    }

    .logo-items {
      width: 200px;
      max-width: 230px;
    }

    .primary-link {
      padding: 1rem;
      font-weight: fw(regular);
      color: $black;

      &.text-button {
        padding: 0;
      }
    }

    .active {
      box-shadow: inset 0 -3px 0 0 color(brand);
    }
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul.menu {
    display: flex;
    align-items: center;

    li {
      margin: 0 0.5rem;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .dropdown {
    display: none;
    position: absolute;
    top: 36px;
    left: 0;
    margin: 0;
    padding: 2.5rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.13);
    background: $white;
    width: calc(100% + 108px);

    .dropdown-title {
      display: block;
      margin: 1rem 0 0.5rem 1.5rem;
      font-size: 0.75rem;
      color: $grey-900;
      font-weight: fw(bold);
      letter-spacing: 0.25px;
      transition: color 0.3s ease-out;

      &:hover {
        color: $blue-500;
      }
    }

    .dropdown-inner {
      position: relative;
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .column {
      min-width: calc(33.333% - 20px);
      width: calc(33.333% - 20px);
      margin-right: 20px;
      display: flex;

      &.first-row {
        margin-bottom: 3rem;
      }
    }

    .featured-item {
      padding: 1rem 0.5rem 1rem 3rem;
      img {
        max-width: 100%;
      }
    }

    ul li {
      margin: 0;
    }

    .block-link {
      display: block;
      padding: 0.5rem 8px 0.5rem 24px;
      transition: background-color 0.3s ease-out;

      .content {
        min-height: 80px;
        margin-right: 20px;
        color: $blue-700;

        &.sub-menu {
          min-height: auto;
        }

        .h5 {
          margin-bottom: 0;
          font-size: 14px;
          color: $blue-500;
        }

        .details {
          color: $grey-700;
          margin: 0;
          font-size: 0.75rem;
          font-weight: fw(regular);
        }
      }

      &:hover {
        background-color: $blue-100;
      }
    }

    .recent-post {
      img {
        margin-left: 1.5rem;
        max-width: calc(100% - 1.5rem);
      }
      .h5 {
        display: block;
        margin: 0.5rem 0 0 1.5rem;
        font-size: 14px;
        line-height: 22px;
      }
      .description {
        color: $grey-700;
        margin-left: 1.5rem;
        font-size: 0.75rem;
        font-weight: fw(regular);
      }
    }
  }

  .global-site-search {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    margin: 0;
    padding: 2.5rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.13);
    background: $white;
    width: 100%;
    text-align: center;
    z-index: z(overlay-content);

    button {
      outline: none;
      border: none;
      background-color: $white;
      padding: 0 1rem;
    }

    input {
      border: 0;
      outline: none;
      font-size: 1.5rem;
      width: 50%;

      &::placeholder {
        color: $grey-500;
      }
    }

    i {
      font-size: 2rem;
      padding: 0 1rem;
    }
  }

  .mobile-nav-toggle {
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    position: relative;
    z-index: z(overlay);
    text-align: center;

    &:last-child {
      border: none;
    }

    @include respond-to(desktop) {
      display: none;
    }

    .icon {
      height: 20px;
      width: 20px;
    }
  }

  &.animated.headroom--pinned {
    @include respond-to(desktop) {
      animation-name: headerSlideDownMini;
    }
  }

  &.animated.headroom--unpinned {
    animation-name: headerSlideUp;
  }

  &.animated.headroom--pinned.headroom--not-top {
    animation-name: headerSlideDown;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.13);

    @include respond-to(desktop) {
      top: -48px;
    }
  }

  &.headroom--top {
    background-color: transparentize($white, 0);
    @include respond-to(desktop) {
      background-color: transparentize($white, 1);
    }
  }

  &.headroom--not-top {
    background-color: transparentize($white, 0);
    transition: background-color 0.5s ease-out;
  }
}
