.global-header {
  .mobile-nav,
  .mobile-search {
    display: none;

    .mobile-nav-item,
    .mobile-search-item {
      position: relative;
      text-transform: uppercase;
      padding: 1rem 1.5rem;
      border-top: 1px solid color(borders);
    }

    .mobile-nav-item {
      &:last-child {
        border: 0;
        padding: 0 1.5rem 1.5rem;
        text-align: center;
      }

      &.jcina {
        text-align: center;
      }

      .button {
        margin: 0;
        font-weight: 500;
      }

      a {
        color: $black;
        font-weight: fw(regular);
      }

      .mobile-nav-arrow {
        position: absolute;
        height: 12px;
        width: 12px;
        right: 1.5rem;
        top: 18px;
        border: 0;
        outline: 0;
        padding: 0;
        background-color: transparent;
        transition: all 0.3s ease-out;

        &.active {
          transform: rotate(90deg);
        }

        .icon {
          width: 12px;
          height: 12px;
        }
      }

      .mobile-subnav-arrow {
        position: absolute;
        height: 12px;
        width: 12px;
        right: 1.5rem;
        top: 18px;
        border: 0;
        outline: 0;
        padding: 0;
        background-color: transparent;
        transition: all 0.3s ease-out;

        &.active {
          transform: rotate(90deg);
        }

        .icon {
          width: 12px;
          height: 12px;
        }
      }
    }

    .mobile-dropdown {
      position: relative;
      display: none;

      .mobile-nav-subitem {
        padding: 0.5rem;

        &:first-child {
          padding-top: 1rem;
        }

        a {
          color: $blue-500;
          font-size: 14px;
          text-transform: capitalize;
          font-weight: fw(bold);
        }
      }
    }

    .search-form {
      display: flex;
      flex-direction: row;
    }

    .search-submit {
      border: 0;
      background-color: transparent;
      font-size: 1.5rem;
    }

    .search-input {
      flex-grow: 1;
      font-size: 1rem;
      border: 0;
      outline: 0;
    }
  }
}
