.chip {
  display: inline-block;
  height: 24px;
  border-radius: 12px;
  margin: 1.5rem 1rem 0 0;
  padding: 0 1rem;
  font-size: 12px;
  line-height: 24px;
  color: $grey-900;
  background-color: $grey-300;
}
