.dropdown-menu {
  background-color: color(body-bg);
  position: relative;
  display: block;
  width: auto;
  min-width: 300px;
  margin: 1.5rem 0;
  border: 1px solid color(borders);
  color: color(select);
  text-transform: uppercase;
  font-weight: fw(medium);
  font-size: 14px;

  label {
    display: inline-block;
    letter-spacing: 1.25px;
    height: 40px;
    width: 100%;
    line-height: 40px;
    white-space: nowrap;
    padding: 0 2rem 0 0.75rem;
  }

  .icon {
    padding: 0;
    position: absolute;
    top: 40%;
    right: 12px;
    width: 10px;
    height: 10px;
    transition: transform 0.4s ease;
  }

  .options {
  }
}
