.hero-homepage {
  width: 100%;
  min-height: 450px;
  margin-bottom: 2rem;

  @include respond-to(desktop) {
    min-height: 750px;
    margin: 0;
  }

  .container {
    min-height: 450px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    display: flex;
    padding: 0 1rem;

    @include respond-to(desktop) {
      min-height: 750px;
    }
  }

  .heading-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 90px;

    @include respond-to(medium) {
      max-width: 768px;
      flex-direction: row;
      margin: 60px auto 0;
    }

    @include respond-to(desktop) {
      max-width: 1000px;
      margin: -25px auto 0;
    }

    @include respond-to(large-desktop) {
      max-width: 1200px;
    }
  }

  .heading {
    z-index: z(block-content-floating);
    align-self: center;
    order: 2;

    @include respond-to(medium) {
      order: 0;
      width: calc(50% - 20px);
    }

    @include respond-to(large-desktop) {
      width: 45%;
    }

    p.subheading {
      font-size: 20px;
      line-height: 31px;
      letter-spacing: 0.25px;
      color: $grey-900;
    }
  }

  .image {
    z-index: z(block-content-floating);
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;

    @include respond-to(medium) {
      width: calc(50% - 20px);
      margin: 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
