.hero-level-3 {
  width: 100%;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 6rem;
    background-image: url('../images/png/level-3-hero-pattern.png');
    background-repeat: no-repeat;
    background-position: 100% 88%;

    @include respond-to(desktop) {
      flex-direction: row;
      max-width: 1000px;
      margin: 0 auto;
    }

    @include respond-to(large-desktop) {
      max-width: 1200px;
    }
  }

  .heading-container {
    width: 100%;
    margin-top: 60px;
    padding: 2rem;
    background-color: $grey-100;
    align-self: center;
    box-shadow: 0 12px 24px rgba(0, 0, 40, 0.12);

    @include respond-to(medium) {
      padding: 4rem;
    }

    @include respond-to(desktop) {
      margin-top: 90px;
      width: calc(60% - 20px);
    }

    h1 {
      max-width: 100%;

      @include respond-to(desktop) {
        line-height: 72px;
      }
    }

    p.subheading {
      font-size: 1.25rem;
      line-height: 30px;
      font-weight: fw(medium);
    }
  }

  .solution-icon-container {
    display: none;

    @include respond-to(desktop) {
      display: block;
      margin-top: 90px;
      width: calc(40% - 20px);
    }

    .solution-icon {
      position: relative;
      background-color: $blue-500;
      height: 300px;
      width: 300px;
      border-radius: 150px;

      img {
        position: absolute;
        max-width: 100%;
        top: 50px;
        left: 50px;
      }
    }
  }
}
