.hero-text {
  width: 100%;
  min-height: 450px;

  .container {
    width: 100%;
    position: relative;
    margin: 0 auto;
    z-index: 40;

    @include respond-to(desktop) {
      width: 75%;
    }
  }

  h1 {
    padding-top: 10rem;
    text-align: center;
  }

  p {
    text-align: center;
  }
}
