.feature-carousel {
  width: 100%;
  margin-bottom: 4rem;
  padding-top: 2rem;
  background: linear-gradient(to bottom, $blue-50 0%, $white 100%);

  .feature-container {
    @include respond-to(desktop) {
      margin: 0 auto;
      max-width: 1000px;
    }

    @include respond-to(large-desktop) {
      max-width: 1200px;
    }

    .feature-cell {
      width: 99%;
      margin: 0;
      padding: 3rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include respond-to(medium) {
        flex-direction: row;
        align-items: center;
      }

      .image {
        width: 100%;

        @include respond-to(medium) {
          width: calc(50% - 20px);
          text-align: center;
        }

        img {
          max-width: 100%;
          height: auto;
        }
      }

      .content {
        width: 100%;

        @include respond-to(medium) {
          width: calc(50% - 20px);
          margin: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      }

      .image,
      .content {
        padding: 0.5rem 0;

        @include respond-to(desktop) {
          padding: 0;
        }
      }
    }
    .flickity-prev-next-button {
      z-index: z(block);
      height: 100px;
      width: 100px;
      transform: translateY(0);
    }

    .flickity-prev-next-button.previous {
      left: -5%;
    }
    .flickity-prev-next-button.next {
      right: -5%;
    }

    .flickity-prev-next-button.previous,
    .flickity-prev-next-button.next {
      @include respond-to(desktop) {
        bottom: -1%;
      }
    }
    .flickity-page-dots {
      bottom: 0;
    }
  }
}
