.footer-cta {
  width: 100%;
  padding: 0 1rem;
  position: relative;

  .container {
    width: 100%;
    margin: 0 auto 6rem;
    padding: 2rem;
    background-color: $blue-50;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 30, 0.25);
    text-align: center;

    @include respond-to(desktop) {
      max-width: 768px;
      margin: 0 auto;
      transform: translateY(1.75rem);
    }

    @include respond-to(large-desktop) {
      max-width: 968px;
    }

    a.button {
      margin: 0.5rem 0 0;
    }
  }
}
