.logo-bar {
  width: 100%;
  margin-bottom: 4rem;

  .container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @supports not (-ms-ime-align: auto) {
      justify-content: space-evenly;
    }

    @include respond-to(desktop) {
      margin: 0 auto;
      max-width: 1000px;
      flex-direction: row;
    }

    @include respond-to(large-desktop) {
      max-width: 1200px;
    }
  }

  .logo {
    max-width: calc(20% - 20px);

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
