.three-columns-cards {
  width: 100%;
  margin-bottom: 6rem;

  .container {
    width: 100%;
    margin: 0;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond-to(desktop) {
      margin: 0 auto;
      max-width: 1000px;
      flex-direction: row;
    }

    @include respond-to(large-desktop) {
      max-width: 1200px;
    }
  }

  .card {
    width: 100%;
    margin: 0.5rem auto;
    border: solid 1px color(borders);
    border-radius: 8px;
    box-shadow: 0 8px 16px $grey-100;
    padding: 1.25rem 3rem;
    text-align: center;

    @include respond-to(desktop) {
      width: calc(33.333% - 20px);
      margin: 10px;
    }

    img {
      width: 58px;
      height: 58px;
    }

    h3 {
      margin-top: 1rem;
    }

    p {
      color: $grey-700;
      font-size: 0.825rem;
    }
  }
}
