.three-columns-cards {
  width: 100%;
  margin-bottom: 4rem;

  .container {
    width: 100%;
    margin: 0;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond-to(desktop) {
      margin: 0 auto;
      max-width: 1000px;
      flex-direction: row;
    }

    @include respond-to(large-desktop) {
      max-width: 1200px;
    }
  }

  .card {
    width: 100%;
    margin: 0.5rem auto;
    border: solid 1px color(borders);
    border-radius: 8px;
    box-shadow: 0 8px 24px -8px rgba(0, 0, 40, 0.12);
    padding: 1.25rem 3rem;
    text-align: center;
    transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 24px 24px -24px rgba(0, 0, 40, 0.25);
    }

    @include respond-to(desktop) {
      width: calc(33.333% - 20px);
      margin: 10px;
    }

    .content {
      flex: 1 0 auto;
    }

    img {
      width: 58px;
      height: 58px;
    }

    h3 {
      margin-top: 1rem;
      color: $black;
    }

    p {
      color: $grey-700;
      font-weight: fw(regular);
      font-size: 0.825rem;
    }
  }
}
