.three-columns-list {
  width: 100%;
  margin-bottom: 4rem;

  .container {
    width: 100%;
    margin: 0;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond-to(medium) {
      margin: 0 auto;
      max-width: 768px;
      flex-direction: row;
    }

    @include respond-to(desktop) {
      max-width: 1000px;
    }

    @include respond-to(large-desktop) {
      max-width: 1200px;
    }
  }

  .card {
    width: 100%;
    margin-bottom: 2rem;

    @include respond-to(medium) {
      width: calc(33% - 20px);
      margin: 0 10px;
    }

    .hr {
      width: 100%;
      border-bottom: 2px solid color(borders);
    }

    h3 {
      margin: 0 0 1rem 1rem;
    }
  }
}
