.two-columns-w-carousel {
  width: 100%;
  margin-bottom: 4rem;

  .container {
    width: 100%;
    margin: 0;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond-to(desktop) {
      margin: 0 auto;
      max-width: 1000px;
      flex-direction: row;
    }

    @include respond-to(large-desktop) {
      max-width: 1200px;
    }
  }

  .content {
    width: 100%;
    padding: 0 0 2rem;

    @include respond-to(desktop) {
      width: calc(66.666% - 20px);
      margin: 0;
      padding: 0;
    }
  }

  .carousel-container {
    width: 100%;

    @include respond-to(desktop) {
      width: calc(33.333% - 20px);
      margin: 0;
    }

    h5 {
      border-bottom: 1px solid color(borders);
      padding-bottom: 0.25rem;
    }

    .main-carousel {
      margin-top: 1.5rem;

      .carousel-cell {
        width: 100%;
      }
    }

    .flickity-page-dots {
      display: none;
    }
    .flickity-prev-next-button {
      height: 15px;
      width: 15px;
    }
    .flickity-prev-next-button.previous {
      top: -40px;
      left: 90%;
    }
    .flickity-prev-next-button.next {
      top: -40px;
    }
  }
}
