.two-columns-offset {
  width: 100%;
  margin-bottom: 4rem;
  background-color: $blue-50;

  @include respond-to(desktop) {
    background-color: none;
  }

  &.left {
    @include respond-to(desktop) {
      background-image: linear-gradient(
        to right,
        $blue-50 0%,
        $blue-50 80%,
        $white 80%,
        $white 100%
      );
      .container .image {
        order: 2;
      }
    }
  }

  &.right {
    @include respond-to(desktop) {
      background-image: linear-gradient(
        to left,
        $blue-50 0%,
        $blue-50 80%,
        $white 80%,
        $white 100%
      );
    }
  }

  .container {
    width: 100%;
    margin: 0;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include respond-to(medium) {
      max-width: 768px;
      margin: 0 auto;
      flex-direction: row;
    }

    @include respond-to(desktop) {
      max-width: 1000px;
    }

    @include respond-to(large-desktop) {
      max-width: 1200px;
    }

    .image {
      width: 100%;
      margin-bottom: 2rem;

      @include respond-to(medium) {
        width: calc(37.5% - 20px);
        text-align: center;
        margin: 0;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .content {
      width: 100%;

      @include respond-to(medium) {
        width: calc(62.5% - 20px);
        margin: 0;
      }

      @include respond-to(desktop) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
    }
  }
}
