.resources-gallery {
  width: 100%;
  margin-bottom: 6rem;

  .container {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;

    @include respond-to(medium) {
      max-width: 768px;
    }

    @include respond-to(desktop) {
      max-width: 1000px;
    }

    @include respond-to(large-desktop) {
      max-width: 1200px;
    }
  }

  .resources-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond-to(medium) {
      flex-flow: row wrap;
    }
  }

  .resource-card {
    width: 100%;
    border: 1px solid color(borders);
    margin: 0 0 3rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(17, 17, 17, 0.1);
    z-index: z(block-content);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond-to(medium) {
      flex-direction: row;
    }

    @include respond-to(desktop) {
      width: calc(50% - 10px);
    }

    .image-container {
      display: flex;
      align-items: center;
      margin: 0 0 1rem;

      @include respond-to(medium) {
        margin: 0 1rem 0 0;
      }

      img {
        box-shadow: 0 4px 16px rgba(17, 17, 17, 0.2);
        max-height: 165px;
        max-width: 225px;
        width: auto;
        height: auto;
      }
    }

    .content-container {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: flex-end;

      .resource-heading {
        line-height: 1.5rem;
        font-size: 1.25rem;
        font-weight: fw(bold);
        letter-spacing: 0.25px;
      }
      .resource-title {
        font-size: 0.825rem;
        margin-top: 0.5rem;
        color: $grey-700;
      }

      .resource-button {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-grow: 1;
        text-align: right;
      }
    }
  }
}

.resource-filter-bar {
  width: 100%;
  margin-bottom: 2rem;

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;

    @include respond-to(medium) {
      max-width: 768px;
    }

    @include respond-to(desktop) {
      max-width: 1000px;
    }

    @include respond-to(large-desktop) {
      max-width: 1200px;
    }
  }

  .filter-bar-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond-to(desktop) {
      flex-flow: row wrap;
    }
  }

  .filter-column {
    width: 100%;

    @include respond-to(desktop) {
      width: calc(33.333% - 10px);
    }
    .chip {
      margin: 0.5rem 0;
      background-color: $grey-100;
      color: $grey-700;

      @include respond-to(desktop) {
        margin: 0;
      }

      &.filter {
        background-color: white;
        border: 1px solid lightgrey;
        margin-right: 10px;
        text-transform: capitalize;
      }
    }

    &#active-filters {
      margin-top: 0.5rem;
      flex-grow: 1;
    }

    &#clear-filters {
      margin-top: 0.5rem;
      width: auto;
    }
  }

  .select-hidden {
    display: none;
    visibility: hidden;
  }

  .select {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    color: $blue-700;
    width: 100%;
    height: 42px;

    @include respond-to(medium) {
      min-width: 50%;
    }

    @include respond-to(desktop) {
      width: 100%;
    }
  }

  .select-styled {
    position: absolute;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    font-weight: 700;
    top: 0;
    left: 0;
    background-color: $white;
    padding: 0.75rem 1rem;
    border: 1px solid color(borders);

    &:after {
      position: absolute;
      right: 1rem;
      top: 14px;
      height: 12px;
      width: 8px;
      content: '';
      transform: rotate(90deg);
      background-image: url('data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%205.52%209.22%22%3E%3Ctitle%20fill%3D%22%23edb134%22%3Earrow-button-meganav%3C%2Ftitle%3E%3Cpath%20d%3D%22M1.29%2C9.22%2C0%2C7.93%2C3.32%2C4.61%2C0%2C1.29%2C1.29%2C0l4%2C4a.91.91%2C0%2C0%2C1%2C0%2C1.29Z%22%20fill%3D%22%23ed1b34%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
      background-repeat: no-repeat;
      transition: transform 0.3s ease-out;
    }

    &.active:after {
      transform: rotate(-90deg);
    }
  }

  .select-options {
    display: none;
    position: absolute;
    width: 100%;
    top: calc(100% - 1px);
    background-color: $white;
    border-right: 1px solid color(borders);
    border-bottom: 1px solid color(borders);
    border-left: 1px solid color(borders);
    z-index: 100;
    padding: 0;

    li {
      padding: 0.5rem 0 0.5rem 1rem;
      margin: 0;
      transition: all 0.3s ease-out;
      text-transform: uppercase;
      font-size: 14px;

      &:hover {
        color: $blue-500;
        background-color: $blue-100;
      }

      &:before {
        content: '';
        padding: 0;
        margin: 0;
      }
    }
  }
}
