.resources-gallery {
  width: 100%;
  margin-bottom: 6rem;

  .container {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;

    @include respond-to(medium) {
      max-width: 768px;
    }

    @include respond-to(desktop) {
      max-width: 1000px;
    }

    @include respond-to(large-desktop) {
      max-width: 1200px;
    }
  }

  .resources-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond-to(medium) {
      flex-flow: row wrap;
    }
  }

  .resource-card {
    width: 100%;
    border: 1px solid color(borders);
    margin: 0 0 3rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(17, 17, 17, 0.1);
    z-index: z(block-content);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include respond-to(desktop) {
      width: calc(50% - 10px);
    }

    .image-container {
      display: flex;
      align-items: center;
      margin-right: 20px;
      img {
        box-shadow: 0 4px 16px rgba(17, 17, 17, 0.2);
        max-height: 165px;
        max-width: 225px;
        width: auto;
        height: auto;
      }
    }

    .content-container {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: flex-end;

      .resource-heading {
        line-height: 1.5rem;
        font-size: 1.25rem;
        font-weight: fw(bold);
        letter-spacing: 0.25px;
      }
      .resource-title {
        font-size: 0.825rem;
        margin-top: 0.5rem;
        color: $grey-700;
      }

      .resource-button {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-grow: 1;
        text-align: right;
      }
    }
  }

  .pgn-button-row {
    .pgn-button {
      display: inline-block;
      padding: 10px 16px;
      margin: 0 4px;
      font-size: 1rem;
      border: 0;
      background-color: transparent;
      line-height: 0.825rem;
      color: $grey-500;
      transition: color 0.2s ease-out;

      &:hover {
        cursor: pointer;
        color: color(brand);
      }

      &:focus {
        outline: none;
      }

      &:disabled {
        .arrow {
          fill: $grey-500;
        }
      }

      &.is-selected {
        border: 1px solid color(borders);
        color: $black;
      }

      svg {
        width: 0.825rem;
        height: 0.825rem;

        .arrow {
          fill: color(brand);
        }
      }
    }

    .pgn-button-group {
      display: inline-block;
      vertical-align: bottom;

      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }

    .pgn-button-row {
      text-align: center;

      @include respond-to(desktop) {
        position: absolute;
        top: -10px;
        right: 0;
      }

      .pgn-button--previous,
      .pgn-button--next {
        font-weight: fw(bold);
        color: color(brand);
      }
    }
  }
}

.resource-filter-bar {
  width: 100%;
  margin-bottom: 2rem;

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;

    @include respond-to(medium) {
      max-width: 768px;
    }

    @include respond-to(desktop) {
      max-width: 1000px;
    }

    @include respond-to(large-desktop) {
      max-width: 1200px;
    }
  }

  .filter-bar-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond-to(desktop) {
      flex-flow: row wrap;
    }
  }

  .filter-column {
    width: 100%;

    @include respond-to(desktop) {
      width: calc(33.333% - 10px);
    }
    .chip {
      margin: 0;
      background-color: $grey-100;
      color: $grey-700;

      @include respond-to(desktop) {
        margin: 0.5rem 0 0;
      }

      &.filter {
        background-color: white;
        border: 1px solid lightgrey;
        margin-left: 10px;
        text-transform: capitalize;
      }
    }

    .search-wrapper {
      border: 1px solid color(borders);
      position: relative;
      height: 40px;

      input {
        border: none;
        display: block;
        color: $black;
        height: 38px;
        line-height: 38px;
        padding: 0 2.75rem 0 1rem;
        outline: none;
        font-size: 0.9375rem;
        width: 100%;
      }

      .icon {
        position: absolute;
        top: 0.7rem;
        right: 1rem;
      }
    }
  }

  .filter-dropdown {
    border: 1px solid color(borders);
    outline: none;
    width: 100%;
    position: relative;
    background-color: $white;
    color: $blue-700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    font-weight: fw(bold);
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    -webkit-appearance: none;
    background-image: url('data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%205.52%209.22%22%3E%3Ctitle%20fill%3D%22%23edb134%22%3Earrow-button-meganav%3C%2Ftitle%3E%3Cpath%20d%3D%22M1.29%2C9.22%2C0%2C7.93%2C3.32%2C4.61%2C0%2C1.29%2C1.29%2C0l4%2C4a.91.91%2C0%2C0%2C1%2C0%2C1.29Z%22%20fill%3D%22%23ed1b34%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, white 0%, white 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 1rem top 50%, 0 0;
    background-size: 0.4rem auto, 100%;

    @include respond-to(medium) {
      min-width: 50%;
    }

    @include respond-to(desktop) {
      width: 100%;
    }
  }
}
